<% include ../partials/head.ejs %>
  <div class="article-container">
    <h1><%= article.title %></h1>
    <small>by: <%= article.author %></small>
    <img src="<%= article.imgURL %>"/>
    <p><%= article.body %></p>
    <h3><a href="/articles/<%= article.id %>/edit">Edit Article</a></h3>
    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
      <button class="delete">DELETE ARTICLE</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>
