<% include ../partials/head.ejs %>
  <h1>Hello, <%= user.username %></h1></br>
  <!-- <img class="profile-pic" src="<%= user.profileIMG %>"/>
  <form action="/users/<%= user.id %>/image" method="POST">
    <input type="text" name="profileIMG" placeholder="Image URL">
    <input type="submit">
  </form> -->
  <% if (admin) { %>
    <small><a href="/articles/new">New Article</a></small></br>
    <div class="user-articles-container">
      <% for (var i=0; i < user.articles.length; i++) { %>
        <div class="indiv-article">
          <h2><a href="/articles/<%= user.articles[i]._id %>"><%= user.articles[i].title %></a></h2>
          <small><a href="/articles/<%= user.articles[i]._id %>/edit">Edit Article</a></small>
          <form action="/articles/<%= user.articles[i]._id %>?_method=DELETE" method="POST">
            <button class="delete">DELETE ARTICLE</button>
          </form>
        </div>
      <% } %>
    </div>
  <% } else { %>
  <h2>More Content Pending! Beezer will guard your profile for you in the meantime:<h2></br>
  <img src="/images/beezer.jpg"/>
  <% } %>
<% include ../partials/footer.ejs %>
